body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('image/1045.jpg');
    background-size: cover;
    flex-direction: column;
}

#game-container {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: none;
    background-image: url('image/clouds.jpg');
    background-size: cover;
}

#player {
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background-image: url('image/két-bia.png');
    background-size: cover;
    border-radius: 50%;
}

.ball {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('image/chai-bia.png');
    background-size: cover;
    border-radius: 50%;
}

#score, #timer {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

#timer {
    top: 40px;
}

#leaderboard, #buttons-container {
    display: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 10px;
}

#start-button, #replay-button, #quit-button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: deepskyblue;
    color: white;
    border: none;
    border-radius: 5px;
    text-shadow: 0 0 5px cyan, 0 0 10px blue, 0 0 15px purple;
}